.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.row{
    display: flex;
    height: 100%;
}
.row-3-of-4{
    flex:3;
}
.row-1-of-4{
   flex:1;
}
.col-1-of-9{
    flex:1;
    margin-right: 2rem;
}
.col-1-of-9 div{
    direction: rtl;
}
.col-8-of-9{
    flex:8;
}